#luke {
    background-image: url("../images/luke.jpg");
}
#darthmaul {
    background-image: url("../images/darthmaul.jpg");
}
#obiwan {
    background-image: url("../images/obiwan.jpg");
}
#pikachu {
    background-image: url("../images/pikachu.png");
}