.character1 {
    background-image: url("../images/luke.jpg");
}
.character2 {
    background-image: url("../images/darthmaul.jpg");
}
.character3 {
    background-image: url("../images/obiwan.jpg");
}
.character4 {
    background-image: url("../images/pikachu.png");
}